altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.8
Markdown==3.7
packaging==24.1
pefile==2024.8.26
pillow==10.4.0
pygame-ce==2.5.1
Pygments==2.10.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.3
pywinstyles==1.8
requests==2.32.3
setuptools==74.1.2
tkextrafont==0.6.3
tkinterweb==3.24.7
tomli_w==1.0.0
urllib3==2.2.3
watchdog==5.0.2
